@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #010e20;
}

::-webkit-scrollbar-thumb {
    background: #010e20;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #010e20;
}